@charset "UTF-8";

@import "./fonts.scss";
@import "./variables.scss";

body
{
  margin: $spacing-0;
  font-family: $roboto-font;
  background-color: $dark-cyan;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-blend-mode: hard-light;
}

body.dark {
  background-color: #0d0950;
  color: #fff;
}

h2 {
  font-size: $spacing-7;
  font-weight: 300;
  line-height: $spacing-8;
  padding: $spacing-0 $spacing-6 $spacing-0;
}

h6 {
  font-size: $spacing-6;
  font-weight: 300;
  text-align: left;
  padding-left: $spacing-4;
  margin: $spacing-8 $spacing-0 $spacing-6;
}

p, a {
  font-size: $spacing-4;
  font-weight: 400;
}

.page-subtitle {
  margin: 0;
}

main {
  container: main / inline-size;
}

@container main (width >= 700px) {
  .search-container {
    width: 60cqw;
    align-self: center;
  }
  .rated-spots {
    margin: 2rem 4rem!important;

    ul {
      display: flex;
      gap: 2.5rem;
    }
    li {
      flex-grow: 1;
      flex-basis: calc(100% / 3);
    }
    li a {
      border-radius: $rounded-border;
    }
    li a img {
      border-top-left-radius: $rounded-border;
      border-top-right-radius: $rounded-border;
    }
    .more-spots {
      width: clamp(100px, 50%, 217px);
      margin-top: 2rem;
      align-self: center;
      a {
        border-radius: $rounded-border;
      }
    }
  }

  .events-container {
    display: flex;
    gap: 2.5rem;
    margin: 2rem 4rem!important;

    .event-card {
      flex: 1;
      height: 225px;
      border-radius: $rounded-border;
    }
  }

  .more-events {
    width: clamp(100px, 50%, 185px);
    border-radius: $rounded-border;
    align-self: center;
  }

  h2 {
    max-width: 700px;
    align-self: center;
  }
  strong {
    align-self: center;
    margin-top: $spacing-8;
  }
}

@container main (width >= 700px) and (width < 1024px) {
  .search-container {
    width: 60cqw;
    align-self: center;
  }
  h2 {
    max-width: 680px;
  }
}