@import "variables.scss";

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: $spacing-2;

  & p {
    margin: 0 2px;
    padding: 4px 10px;
    font-size: $spacing-2;
    background-color: papayawhip;
    border-radius: $rounded-border;
  }
  & p:hover {
    background: darken(papayawhip, 5%);
  }
  & a {
    color: palevioletred;
    text-decoration: none;
  }
}
