<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experience new places, meet amazing people & have fun on your mountain bike</title>
  </head>
  <body>
    <div class="container">
      <header>
          <img alt="logo" class="logo" src="/logo.svg">
      </header>
      <main>
        <h2>Ride your mountain bike, share with the community & live a stoked life</h2>
        <p>
          Discover and experience new mountain biking places with our new website! Connect with fellow riders
          and explore new trails across Latin America. Plan your ride today and join our community.
        </p>
        <p>Coming pretty soon!</p>
      </main>
    </div>
  </body>
</html>

<style>
	body {
    margin: 0;
    background-color: #074f57;
    /*noinspection CssUnknownTarget*/
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: hard-light;
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  main {
    color: white;
    width: 100%;
  }

  img.logo {
    width: 25%;
    height: auto;
    padding-top: 2rem;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 32px;
    padding: 0.5rem 1rem 0 1rem;
  }

  p {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625;
    padding: 0 1.5rem;
  }

</style>
