---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchField from '../components/SearchField.astro';
import TopRatedSpots from '../components/TopRatedSpots.astro';
import { getCollection } from "astro:content";
import { HOME_PAGE_TITLE, HOME_PAGE_DESCRIPTION, HOME_PAGE_SUBTITLE } from '../constants';
import EventsSection from "../components/EventsSection.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={HOME_PAGE_TITLE}>
  <h2>{HOME_PAGE_DESCRIPTION}</h2>
  <p>
    {HOME_PAGE_SUBTITLE}
  </p>
  <SearchField />
  <EventsSection />
  <TopRatedSpots allPosts={allPosts} />
</BaseLayout>