---
import ThemeIcon from "./ThemeIcon.astro";
---
<footer>
  <a href="/about/">About</a>
  <a href="/contact/">Contact</a>
  <div class="language-container">
    <button>
      <span>EN</span>
      <img
          src="https://flagcdn.com/us.svg"
          width="30"
          height="20"
          alt="Usa">
    </button>
    <button>
      <span>ES</span>
      <img
          src="https://flagcdn.com/es.svg"
          width="30"
          height="20"
          alt="Spain">
    </button>
  </div>
  <ThemeIcon />
</footer>

<style lang="scss">
  @import "../styles/variables.scss";

  footer {
    min-height: $spacing-12;
    flex-shrink: $spacing-0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;

    :is(a) {
      padding: $spacing-0 $spacing-6;
    }
    :visited {
      color: $white;
    }
    :link {
      text-decoration: none;
      color: $white;
    }

    .language-container {
      display: flex;
      flex-direction: row;

      :is(button) {
        display: flex;
        flex-flow: row-reverse;
        background: none;
        border: none;
        align-items: center;
      }
      :is(span) {
        color: $white;
        font-weight: 600;
      }
    }
  }

  body.dark {
      background-color: #0d0950;
      color: #fff;
  }
</style>