<footer>
    <a href="/about/">About</a>
    <span>|</span>
    <a>Contact</a>
    <span>|</span>
    <div class="language-container">
        <button class="button es is-large">
            <span></span>
        </button>
        <button class="button en is-large has-text-white">
            <span></span>
        </button>
    </div>
</footer>