---
import logo from '../assets/images/logo.svg'
---
<header>
  <a href="/">
    <img alt="logo" width="90" height="110" class="logo" src={logo.src}>
  </a>
</header>

<style lang="scss">
  @import "../styles/variables.scss";

  img.logo {
    padding-top: $spacing-2;
  }
</style>