<header>
  <a href="/">
    <img alt="logo" class="logo" src="/logo.svg">
  </a>
</header>

<style lang="scss">
  @import "../styles/variables.scss";

  img.logo {
    width: 25%;
    height: auto;
    padding-top: $spacing-2;
  }
</style>