<div class="search-container">
  <label>
    <input type="text" placeholder="">
    <button type="submit" class="search-button">
      <span class="material-symbols-outlined">
        search
      </span>
    </button>
  </label>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .search-container {
    justify-content: center;
    margin: $spacing-6;

    label {
      display: flex;
      width: 100%;
    }
    input {
      border-top-left-radius: $rounded-border;
      border-bottom-left-radius: $rounded-border;
      padding: $spacing-2;
      border: $spacing-px solid $light-gray;
      width: 80%;
    }
  }

  .search-field {

  }

  .search-button {
    background-color: $cyan;
    color: $white;
    border: none;
    cursor: pointer;
    border-top-right-radius: $rounded-border;
    border-bottom-right-radius: $rounded-border;
    width: 20%;
  }
</style>