<div class="search-container">
  <label>Look for spots to ride</label>
  <input type="text" placeholder="" class="search-field">
  <button type="submit" class="search-button">
    <span class="material-symbols-outlined">
      search
    </span>
  </button>
</div>