---
import BlogPost from "./BlogPost.astro";
const { allPosts } = Astro.props;
---

<h6>Top rated spots to ride</h6>
<div>
  <ul>
  {allPosts.map((post) =>
    <BlogPost
      url={'/posts/' + post.slug}
      title={post.data.title}
      image={post.data.image}
      location={post.data.location}
      amenities={post.data.amenities}
    />
  )}
  </ul>
  <a href="/tags/">
    Find more spots here
  </a>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  div {
    display: flex;
    flex-direction: column;
    margin: $spacing-6;

    & ul {
      list-style: none;
      padding: 0;
    }

    & a {
      color: $white;
      text-decoration: none;
    }
  }
</style>